#
# Default .panel.env file
#
# Rename to `.panel.env` to use within docker compose.
#

# Elastic Search connection details
ELASTIC_HOST=search
ELASTIC_PORT=443
ELASTIC_SCHEME=https
# ELASTIC_USER=kevin
# ELASTIC_PASS=tester

# Script hash used for the join helio script to ensure correctness of the downloaded file
SCRIPT_HASH=asdf:DEMOHASH5DEMOHASH
# SCRIPT_HASH_FILE=./cnf/script-hash-file

# MySQL/MariaDB connection details
DB_NAME=panel
DB_HOST=database
# DB_PORT=3306
# sync with database env variables below
DB_USERNAME=helio-panel
DB_PASSWORD=helio-panel-356tyjl

# slim framework site env
SITE_ENV=DEV

# JWT secret, ensure this is changed for production
JWT_SECRET=B598dSs89kkALboi4--BBoi+b00

# User ID needs to be adjusted, the mentioned file changed.
GOOGLE_AUTH_USER_ID=REPLACE_WITH_CORRECT_VALUE
GOOGLE_AUTH_JSON_PATH=./cnf/google-auth.json

# Grafana connection details (TODO: specify host/port of grafana in env file)
GRAFANA_API_KEY=REPLACE_WITH_CORRECT_VALUE
# DASHBOARD_CONFIG_JSON=./dashboard.json

# Zapier connection details
ZAPIER_HOOK_URL=REPLACE_WITH_CORRECT_VALUE
