<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['vendor/', 'tmp/', 'scripts/'])
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        // disabled because of OpenAPI docblocks with JSON inside.
        'phpdoc_separation' => false,
    ])
    ->setFinder($finder);

?>
