<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="HelioPanel">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./localPackages</directory>
        </whitelist>
    </filter>
</phpunit>