/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Config
2.0 Components
3.0 Layout
4.0 Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Config
--------------------------------------------------------------*/
pre, textarea {
  overflow: auto; }

[hidden], audio:not([controls]), template {
  display: none; }

details, main, summary {
  display: block; }

input[type=number] {
  width: auto; }

input[type=search], input[type=text], input[type=email] {
  -webkit-appearance: none; }

input[type="*"] {
  -webkit-appearance: none; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

progress {
  display: inline-block; }

small {
  font-size: 100%; }

textarea {
  resize: vertical; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*, ::after, ::before {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0; }

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit; }

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  min-height: 1.5em; }

code, kbd, pre, samp {
  font-family: monospace,monospace; }

nav ol, nav ul {
  list-style: none; }

ul li {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~=screen] {
    display: inherit; }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }
/* Input reset */
input, label, select, button, textarea {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 13px;
  line-height: 1;
  border: 0;
  background: none;
  vertical-align: middle;
  white-space: normal; }

input:focus {
  outline: 0; }

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button, input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox], input[type=radio] {
  display: none;
  width: 13px;
  height: 13px; }

input[type=search] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  display: none; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  overflow: visible; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

select[multiple] {
  vertical-align: top; }

img {
  display: block;
  width: 100%; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General
2.0 Typography
3.0 Layout Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Global
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Layout
--------------------------------------------------------------*/
html.scroll-lock {
  overflow: hidden; }

.wrapper {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px; }
  @media (max-width: 600px) {
    .wrapper {
      padding: 0 16px; } }

.divider {
  width: 100%;
  height: 1px;
  margin: 8px 0px;
  opacity: 0.2;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.95%, rgba(255, 255, 255, 0) 100%); }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Neutral
2.0 Main Colors
3.0 Color Pallete
4.0 Grey Scale
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Neutral
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 Main Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 Color Pallete
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.0 Grey Scale
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Config
2.0 Translate
3.0 Rotate
4.0 Placeholder
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Transition
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 Translate
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 Rotate
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.0 Placeholder
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.0 Background Image 2x
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 HTML Settings
2.0 General Settings
3.0 Display
4.0 Heading
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Settings
--------------------------------------------------------------*/
html {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-tap-highwhite-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

/*--------------------------------------------------------------
2.0 General Settings
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
a {
  color: #000714; }

/*--------------------------------------------------------------
3.0 display
--------------------------------------------------------------*/
.display {
  letter-spacing: -0.4px;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.05em; }
  @media (max-width: 600px) {
    .display {
      font-size: 40px; } }

/*--------------------------------------------------------------
4.0 Heading
--------------------------------------------------------------*/
.heading {
  letter-spacing: -0.25px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.18em; }
  @media (max-width: 600px) {
    .heading {
      font-size: 28px; } }

/*--------------------------------------------------------------
5.0 Text
--------------------------------------------------------------*/
.text {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 1.55em; }
  .display + .text {
    padding-top: 24px; }
  .text + .text {
    padding-top: 24px; }
  .text--big {
    font-size: 18px; }

/*--------------------------------------------------------------
6.0 Text
--------------------------------------------------------------*/
.small {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33em; }
  .small--upper {
    text-transform: uppercase; }

/*--------------------------------------------------------------
7.0 Text colors
--------------------------------------------------------------*/
.c--white {
  color: #FFF; }

.c--orange {
  color: #F7814A; }

.c--grey {
  color: #ADB0B8; }

/*--------------------------------------------------------------
7.0 Text align
--------------------------------------------------------------*/
.a--center {
  text-align: center; }

/*--------------------------------------------------------------
2.0 Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Button
--------------------------------------------------------------*/
.button {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  color: #FFF;
  border-radius: 4px;
  background-color: #F7814A;
  font-size: 16px;
  line-height: 1.55em;
  -webkit-appearance: none; }
  .button + .button {
    margin-left: 16px; }
  .button:hover {
    background-color: #f67032; }
  .button--grey {
    color: #000714;
    background-color: #E6E7E9; }
    .button--grey:hover {
      background-color: #d8dadd; }
  .button--dark {
    color: #FFF;
    background-color: #000714; }
    .button--dark:hover {
      opacity: 0.85;
      background-color: #000714; }
  .button--wide {
    width: 100%;
    text-align: center; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Input Default
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Input Default
--------------------------------------------------------------*/
.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; }
  .small + .input {
    margin-top: 12px; }
  .input__type {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 16px;
    padding-right: 16px;
    text-align: center;
    color: #FFF;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    line-height: 24px; }
  .input__input {
    display: flex;
    align-items: center;
    width: 100%;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    color: #FFF;
    border-radius: 4px;
    background-color: rgba(32, 43, 71, 0.5);
    font-size: 16px;
    line-height: 24px;
    transition: box-shadow 0.25s ease; }
    .input__input::-webkit-input-placeholder {
      opacity: 0.4;
      color: #FFF;
      font-size: 16px;
      line-height: 24px; }
    .input__input:-moz-placeholder {
      opacity: 0.4;
      color: #FFF;
      font-size: 16px;
      line-height: 24px; }
    .input__input::-moz-placeholder {
      opacity: 0.4;
      color: #FFF;
      font-size: 16px;
      line-height: 24px; }
    .input__input:-ms-input-placeholder {
      opacity: 0.4;
      color: #FFF;
      font-size: 16px;
      line-height: 24px; }
    .input__input--pre {
      padding-left: 60px; }
    .input__input:hover {
      background-color: rgba(32, 43, 71, 0.6); }
    .input__input:focus {
      outline: none;
      box-shadow: 0px 0px 1px 1px #F7814A; }
    .input__input--select {
      cursor: pointer;
      background-image: url("/images/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) center;
      background-size: 16px; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Play button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Play button
--------------------------------------------------------------*/
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease;
  z-index: 2; }
  .play:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #FFF;
    margin-right: -6px; }
  .play:hover:before {
    border-left: 20px solid rgba(255, 255, 255, 0.8); }

/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.0 Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Topbar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Topbar
--------------------------------------------------------------*/
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0; }
  .topbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .topbar__nav {
    display: flex;
    align-items: center; }
  .topbar__link {
    margin-left: 24px; }
    @media (max-width: 600px) {
      .topbar__link {
        display: none; } }
    .topbar__link:hover {
      opacity: 0.75; }
  .topbar__icon {
    display: block;
    width: 24px;
    height: 24px; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Hero
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Hero
--------------------------------------------------------------*/
.hero {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: 705px;
  background-image: url("/images/idle--landingpage--hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url("/images/idle--landingpage--hero@2x.png"); } }
  @media (max-width: 1024px) {
    .hero {
      display: block;
      height: auto;
      max-height: none;
      margin: 140px 0 100px 0px;
      background-image: none; } }
  @media (max-width: 600px) {
    .hero {
      margin: 100px 0 80px 0px; } }
  .hero__content {
    width: 100%;
    max-width: 420px; }
  .hero__actions {
    display: flex;
    margin-top: 32px; }
  .hero__image {
    display: none;
    width: 100%; }
    @media (max-width: 1024px) and (min-width: 600px) {
      .hero__image {
        margin-top: -100px; } }
    @media (max-width: 1024px) {
      .hero__image {
        display: block;
        margin-top: -40px; } }
    .hero__image:after {
      display: block;
      clear: both;
      content: ''; }
    .hero__image img {
      display: block;
      float: right;
      width: 100%;
      height: auto;
      margin-right: -16px; }
      @media (max-width: 1024px) {
        .hero__image img {
          max-width: 650px;
          margin-right: -32px; } }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Vision
2.0 Baseline grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Vision
--------------------------------------------------------------*/
.vision {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  background-image: url("/images/line.png");
  background-repeat: repeat;
  background-size: 100% 28px; }
  @media (max-width: 600px) {
    .vision {
      margin: 80px 0px;
      margin-top: 64px;
      background-image: none; } }
  .vision__content {
    position: relative;
    width: 712px;
    padding: 122px 32px; }
    @media (max-width: 600px) {
      .vision__content {
        padding: 0px 16px; } }
    .vision__content:before {
      position: absolute;
      top: -20px;
      left: -32px;
      width: 1px;
      height: calc(100% + 20px);
      content: '';
      background-image: linear-gradient(-180deg, rgba(230, 82, 69, 0.4) 0%, #FFFFFF 100%); }

/*--------------------------------------------------------------
2.0 Baseline grid
--------------------------------------------------------------*/
.vision .display + .text {
  padding-top: 55px; }
  @media (max-width: 600px) {
    .vision .display + .text {
      padding-top: 28px; } }
.vision .text {
  line-height: 28px; }
.vision .text + .text {
  padding-top: 28px; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Conversion
2.0 Newsletter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Conversion
--------------------------------------------------------------*/
.conversion {
  padding-top: 74px; }
  .conversion--box {
    position: relative;
    width: 100%;
    margin-top: 80px;
    padding: 0 32px; }
    @media (max-width: 600px) {
      .conversion--box {
        margin-top: 0px;
        padding: 0 16px; } }
  @media (max-width: 600px) {
    .conversion {
      padding-top: 48px; } }
  .conversion__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding: 64px 112px;
    border-radius: 4px;
    background-color: #F7814A; }
    @media (max-width: 1200px) {
      .conversion__inner {
        padding: 48px 80px; } }
    @media (max-width: 1023px) {
      .conversion__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 48px 48px; } }
    @media (max-width: 600px) {
      .conversion__inner {
        padding: 40px 16px;
        padding-bottom: 16px; } }

/*--------------------------------------------------------------
2.0 Newsletter
--------------------------------------------------------------*/
.newsletter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 536px;
  margin-top: 17px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(244, 244, 244, 0.8); }
  .conversion--box .newsletter {
    max-width: 450px;
    margin-top: 0px;
    background-color: rgba(0, 7, 20, 0.1); }
    @media (max-width: 1023px) {
      .conversion--box .newsletter {
        margin-top: 40px; } }
    @media (max-width: 600px) {
      .conversion--box .newsletter {
        width: 100%;
        max-width: none; } }
  .newsletter__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 24px; }
  .newsletter__input {
    width: 100%;
    padding-top: 4px;
    color: #000714;
    font-size: 18px;
    line-height: 1.55em; }
    .newsletter__input::-webkit-input-placeholder {
      opacity: 0.3;
      color: #000714;
      font-size: 18px;
      line-height: 1.55em; }
    .newsletter__input:-moz-placeholder {
      opacity: 0.3;
      color: #000714;
      font-size: 18px;
      line-height: 1.55em; }
    .newsletter__input::-moz-placeholder {
      opacity: 0.3;
      color: #000714;
      font-size: 18px;
      line-height: 1.55em; }
    .newsletter__input:-ms-input-placeholder {
      opacity: 0.3;
      color: #000714;
      font-size: 18px;
      line-height: 1.55em; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Calc
2.0 Form
3.0 Range
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Calc
--------------------------------------------------------------*/
.calc {
  width: 100%;
  padding: 0 32px;
  margin: 80px 0 168px 0;
  display: flex;
  justify-content: center; }
  @media (max-width: 600px) {
    .calc {
      padding: 0;
      margin: 64px 0 80px 0; } }
  .calc__wrapper {
    position: relative;
    width: 100%;
    max-width: 1320px;
    padding: 100px 16px 0 16px;
    background: #F7814A;
    background-image: url("/images/calc-bg@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 4px; }
    @media (max-width: 600px) {
      .calc__wrapper {
        border-radius: 0px;
        padding: 64px 16px 0 16px;
        background-image: none; } }
  .calc__inner {
    position: relative;
    width: 100%;
    max-width: 536px;
    margin-bottom: -48px;
    z-index: 1; }

/*--------------------------------------------------------------
2.0 Form
--------------------------------------------------------------*/
.form {
  width: 100%;
  min-height: 400px;
  margin-top: 48px;
  padding: 48px 56px;
  background-color: #000714;
  border-radius: 4px; }
  @media (max-width: 600px) {
    .form {
      padding: 32px 16px; } }
  .form__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .form__row--range {
      margin-top: 20px; }
    @media (max-width: 600px) {
      .form__row {
        display: block; } }
  .form__cell {
    width: calc(50% - 12px);
    min-height: 30px;
    margin-bottom: 32px; }
    @media (max-width: 600px) {
      .form__cell {
        width: 100%; } }
  .form__title {
    margin: 40px 0 24px 0; }
  .form__button {
    margin-top: 40px; }

/*--------------------------------------------------------------
3.0 Range
--------------------------------------------------------------*/
.range {
  width: calc(100% - 130px);
  display: flex;
  align-items: center; }
  @media (max-width: 600px) {
    .range {
      width: 100%;
      margin-top: 12px; } }
  .range__label {
    text-align: right;
    width: 40px; }

input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: calc(100% - 40px);
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7814A), color-stop(100%, #F7814A));
  background-image: -webkit-linear-gradient(#F7814A, #F7814A);
  background-image: -moz-linear-gradient(#F7814A, #F7814A);
  background-image: -o-linear-gradient(#F7814A, #F7814A);
  background-image: linear-gradient(#F7814A, #F7814A);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  min-height: 0px;
  pointer-events: none;
  overflow: visible; }

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none; }

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent; }

input[type=range]::-moz-focus-outer {
  border: 0; }

input[type=range]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border: 0;
  background: #FFF;
  border-radius: 100%;
  -webkit-appearance: none;
  border: 1px solid #000714;
  pointer-events: auto; }
  @media (max-width: 680px) {
    input[type=range]::-webkit-slider-thumb {
      width: 24px;
      height: 24px; } }

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #FFF;
  border-radius: 100%;
  box-shadow: 0 5px 20px 0 rgba(31, 31, 31, 0.1), 0 2px 4px 0 rgba(31, 31, 31, 0.2);
  pointer-events: auto; }

input[type=range]::-ms-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #FFF;
  border-radius: 100%;
  -webkit-appearance: none;
  box-shadow: 0 5px 20px 0 rgba(31, 31, 31, 0.1), 0 2px 4px 0 rgba(31, 31, 31, 0.2);
  pointer-events: auto; }
  @media (max-width: 680px) {
    input[type=range]::-ms-thumb {
      width: 24px;
      height: 24px; } }

input[type=range]::-ms-track {
  /*example */
  width: 100%;
  height: auto;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  overflow: visible; }

input[type=range]::-ms-track {
  box-shadow: none;
  border: none;
  background: transparent; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 How It Works
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 How It Works
--------------------------------------------------------------*/
.how {
  margin: 120px auto; }
  @media (max-width: 600px) {
    .how {
      margin: 80px auto; } }
  .how__button {
    margin-top: 32px; }
  .how__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    @media (max-width: 768px) {
      .how__inner {
        display: block;
        margin-top: 128px;
        margin-bottom: 24px; } }
  .how__title {
    flex-basis: 50%;
    flex-grow: 0; }
  .how__video {
    position: relative;
    overflow: hidden;
    flex-basis: 50%;
    flex-grow: 0;
    width: 100%;
    border-radius: 8px; }
    @media (max-width: 768px) {
      .how__video {
        margin-top: 40px; } }
    .how__video:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 7, 20, 0.6);
      transition: background-color 0.25s ease; }
    .how__video:hover:after {
      background-color: rgba(0, 7, 20, 0.5); }
    .how__video:hover .play {
      background-color: rgba(255, 255, 255, 0.2); }
  .how__cols {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .how__cols {
        flex-wrap: wrap; } }
  .how__col {
    width: calc((100% - 96px) / 4);
    margin-top: 96px; }
    @media (max-width: 1024px) {
      .how__col {
        flex-shrink: 0;
        width: calc((100% - 32px) / 2); } }
    @media (max-width: 768px) {
      .how__col {
        margin-top: 64px; } }
    @media (max-width: 600px) {
      .how__col {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        margin-top: 32px; }
        .how__col img {
          max-width: 320px; } }
    @media (max-width: 400px) {
      .how__col {
        margin: 0;
        margin-top: 32px; } }
    .how__col h4 {
      margin-top: 24px; }
    .how__col h4 + .text {
      padding-top: 12px; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Hero
2.0 Cards
3.0 Partners
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Hero
--------------------------------------------------------------*/
.values {
  padding: 120px 0 0 0;
  background-color: #000714;
  position: relative; }
  .values:before {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 122px;
    content: '';
    background-color: #FFF; }
  @media (max-width: 600px) {
    .values {
      padding: 80px 0px 0 0; } }
  .values__title {
    width: 100%;
    padding: 0 16px; }
  .values__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px; }
    @media (max-width: 600px) {
      .values__cards {
        padding-top: 48px; } }

/*--------------------------------------------------------------
2.0 Cards
--------------------------------------------------------------*/
.card {
  position: relative;
  display: block;
  overflow: hidden;
  width: calc((100% - 64px) / 3);
  max-height: 410px;
  margin-bottom: 32px;
  border-radius: 4px;
  background-color: #111721; }
  @media (max-width: 1024px) {
    .card {
      width: calc((100% - 32px) / 2); } }
  @media (max-width: 768px) {
    .card {
      width: calc((100% - 24px) / 2);
      margin-bottom: 24px; } }
  @media (max-width: 600px) {
    .card {
      width: 100%;
      margin-bottom: 16px; } }
  .card__image {
    display: block;
    width: 100%;
    height: auto; }
  .card__inner {
    position: relative;
    padding: 24px; }
    @media (max-width: 768px) {
      .card__inner {
        padding: 20px; } }
  .card__more {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 24px;
    padding-bottom: 24px;
    background-image: linear-gradient(-180deg, rgba(17, 23, 33, 0) 39%, #111721 96%);
    transition: opacity 0.25s ease; }
    .card__more:hover {
      opacity: 0.95;
      background-image: linear-gradient(-180deg, rgba(17, 23, 33, 0) 39%, #111721 96%); }
  .card__title {
    margin-bottom: 16px; }
  .card__list {
    margin-bottom: 12px;
    padding-left: 32px; }
    .card__list.text {
      padding-top: 0px; }
  .card__text {
    position: relative;
    margin-bottom: 16px;
    padding-left: 32px; }
    .card__text.text {
      padding-top: 0px; }
    .card__text:before {
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      width: 21px;
      height: 21px;
      content: '';
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1); }
    .card__text:after {
      position: absolute;
      top: 9px;
      left: 6px;
      display: block;
      width: 9px;
      height: 5px;
      content: '';
      transform: rotate(-45deg);
      border-bottom: 2px solid #FFF;
      border-left: 2px solid #FFF; }

/*--------------------------------------------------------------
3.0 Partners
--------------------------------------------------------------*/
.partners {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .partners {
      margin-top: 32px; } }
  .partners__list {
    margin: 16px 24px; }
    @media (max-width: 600px) {
      .partners__list {
        margin: 16px 16px; } }
  .partners__image {
    max-height: 28px;
    width: auto; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Get Started
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Get Started
--------------------------------------------------------------*/
.start {
  margin: 80px 0; }
  @media (max-width: 600px) {
    .start {
      margin: 64px 0; } }
  .start__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .start__list {
        justify-content: center; } }
    @media (max-width: 768px) {
      .start__list {
        justify-content: space-between; } }
  .start__title {
    margin-bottom: 24px; }
  .start__card {
    overflow: hidden;
    width: calc((100% - 96px) / 5);
    border-radius: 4px;
    box-shadow: 0 4px 30px 0 rgba(9, 12, 20, 0.1); }
    @media (max-width: 1024px) {
      .start__card {
        width: calc((100% - 64px) / 3);
        margin: 8px; } }
    @media (max-width: 768px) {
      .start__card {
        width: calc((100% - 16px) / 2);
        margin: 8px 0; } }
  .start__link {
    position: relative;
    display: block;
    width: 100%;
    padding: 12px 16px; }
    .start__link:after {
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      transform: translateY(-50%);
      background-image: url("../images/arrow-icon.svg");
      transition: all 0.25s ease; }
      .start__card:hover .start__link:after {
        right: 12px; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Footer
2.0 github
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Footer
--------------------------------------------------------------*/
.footer {
  position: relative;
  width: 100%;
  margin-top: 120px;
  padding: 80px 0 136px 0; }
  @media (max-width: 600px) {
    .footer {
      margin-top: 64px;
      padding: 56px 0 64px 0; } }
  .footer:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background: linear-gradient(90deg, rgba(0, 7, 20, 0) 0%, rgba(0, 7, 20, 0.1) 49.95%, rgba(0, 7, 20, 0) 100%); }
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  @media (max-width: 1024px) {
    .footer__col {
      flex-basis: calc((100% - 64px) / 2);
      justify-content: flex-start;
      margin-bottom: 40px; } }
  @media (max-width: 600px) {
    .footer__col {
      flex-basis: 100%;
      justify-content: flex-start; }
      .footer__col:last-child {
        margin-bottom: 0px; } }
  .footer__logo {
    width: auto;
    max-height: 24px; }
  .footer__title {
    margin-bottom: 16px;
    font-weight: bold; }
  .footer__text {
    margin-bottom: 4px; }
  .footer__link {
    display: flex;
    margin-bottom: 16px; }
    .footer__link:last-child {
      margin-bottom: 0px; }
  .footer__icon {
    flex-basis: 24px;
    flex-shrink: 0;
    height: auto;
    margin-right: 8px;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.25s ease; }
    .footer__link:hover .footer__icon {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }

/*--------------------------------------------------------------
2.0 Github
--------------------------------------------------------------*/
.github {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background-color: #F4F4F4; }
  .github__star {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #F7814A; }
    .github__star:hover {
      background-color: #f55f19; }
    .github__star img {
      margin-right: 6px; }
  .github__counter {
    padding: 0 20px; }

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease; }
  .modal[class*="is-open"] {
    opacity: 1;
    pointer-events: auto; }
  .modal .card {
    max-width: 380px;
    overflow: visible;
    max-height: none;
    display: none; }
    .modal .card__more {
      display: none; }
  .modal.is-open-0 .card--0 {
    display: block; }
  .modal.is-open-1 .card--1 {
    display: block; }
  .modal.is-open-2 .card--2 {
    display: block; }
  .modal.is-open-3 .card--3 {
    display: block; }
  .modal.is-open-4 .card--4 {
    display: block; }
  .modal.is-open-5 .card--5 {
    display: block; }
  .modal__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 7, 20, 0.95); }
