.login-pf.helio body {
    background-image: url('/images/background.png');
}

.helio .nav-pf-vertical,
.helio .nav-pf-secondary-nav {
    top: 86px;
}
.helio.layout-pf.layout-pf-fixed body {
    padding-top: 86px;
}


@media (max-width: 768px) {
    .helio .nav-pf-vertical,
    .helio .nav-pf-secondary-nav {
        top: 52px;
    }
    .helio.layout-pf.layout-pf-fixed body {
        padding-top: 52px;
    }
}